@import url('https://fonts.googleapis.com/css2?family=Anton&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Anton", sans-serif;
    scroll-behavior: smooth;

}

:root {
    --yellow: #F0DC55;
    --grey: #C5C5C5;

    /*    CHALLENGE THREE   */
    --base: #ffc600;
    --spacing: 10px;
    --blur: 10px;
}

h1 {
    text-transform: uppercase;
    font-size: 3rem;

}

h2 {
    font-family: "Jost", sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 400;
}

h3 {
    font-size: 2rem;
    text-transform: uppercase;
}

p {
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 1.2rem;
}

/* Stijl voor de inhoud van de popup */
.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    position: relative;
    width: 80%;
    max-width: 500px;
}

@media (min-width: 36rem) {
    h1 {
        font-size: 3.5rem;
    }

    h3 {
        font-size: 2.8rem;
    }

    p {
        font-size: 1rem;
        line-height: 1.5rem;
    }
}

/* MEDIA QUERY LAPTOP M*/
@media (min-width: 64rem) {
    h1 {
        font-size: 4rem;
    }

    h3 {
        font-size: 3rem;
    }
}

/* MEDIA QUERY LAPTOP M*/
@media (min-width: 90rem) {
    h1 {
        font-size: 4.5rem;
    }
}




