/* Verwijder de achtergrondkleur van de codeblokken */
pre {
    background: none !important;
}

/* Verwijder ook de achtergrondkleur van de codeblokken zelf */
code {
    background: none !important;
}

/* Optionele stijlen voor een betere weergave */
pre {
    padding: 1rem;
    border-radius: 5px;
    color: #000000;
}

